<div class="row">
  <div class="col-xs-6 col-md-4 panel-equal-height">
    <a class="panel panel-highlighted panel-start" href="/maker/" >
      <p class="txt-center mb0"><i class="icon icon-hardware"></i></p>
      <p class="mb0">Maker</p>
    </a>
  </div>

  <div class="col-xs-6 col-md-4 panel-equal-height">
    <a class="panel panel-highlighted panel-download" href="/coder/">
      <p class="txt-center mb0"><i class="icon icon-software"></i></p>
      <p class="mb0">Coder</p>
    </a>
  </div>

  <div class="col-xs-6 col-md-4 panel-equal-height">
    <a class="panel panel-highlighted panel-download" href="/about/">
      <p class="txt-center mb0"><i class="icon icon-about"></i></p>
      <p class="mb0">About</p>
    </a>
  </div>
</div>
