<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="unfinished">
    {{> menu}}
    {{> banner-small}}

    <main class="container-fluid" role="main">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <h1>Magic is happening...</h1>
          <h3>...but it's not quite ready</h3>
        </div>
      </div>
      
      <div class="row center-xs">
        <div class="col-xs-12 col-md-9 col-lg-9">
          <p>
            Seems this content is in <b>draft</b> and may change <b>drastically</b> you have been warned.<br />
            Once complete, this message will be removed.
          </p>
        </div>
      </div>
      
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10 txt-left">
          {{{contents}}}
        </div>
      </div>
      
      <div class="row center-xs">
        <div class="col-xs-12 col-md-8 col-lg-8">
          <p class="txt-lead mb mt2x">Issues? report them <a href="https://github.com/mcdonnelldean/personal-site/issues">here.</a></p>
        </div>
      </div>
    </main>

    {{> footer}}
  </body>
</html>
